body{
    background-color: rgb(247, 232, 247);
    color: rgb(216, 91, 233);
    text-align: center;
    font-size: 21px;

}
.paragrafo{
    color: rgb(152, 75, 153);
    font-size: 18px;
}

.imagem{
    width: 16%;
    position: absolute;
    top: 300px;
    left: 200px;
}

.rodape{ 
    font-size: 25px;
    color: rgb(235, 88, 201);
    margin: 0.5px;
    padding: 5%;
    position: absolute;
    top: 630px;
    left: 200px;
}

.texto{ 
    position: relative;
    top: 90px;
    right: 15px;
}
